#parcel-list-container {
    margin-right: 0;
}
#parcels {
    margin-right: 0;
    padding: 0;
}

#parcels li {
    list-style: none;
    padding: 0.3em;
    font-size: 1.3em;
    background-color: #EEE;
    border-right: 1px solid black;

}

#parcels li a {
    text-decoration: none;
}

#parcels li.selected {
    background-color: white;
    border: 1px solid black;
    border-right: 0;
}

#parcel-info-container {
    padding: 0.5em;
}

#parcel-form form ul {
    padding: 0.2em;
}

#parcel-form form ul li {
    list-style: none;
}

#parcel-form form label {
    position: absolute;
    width: 130px;
    text-align: right;
    margin-right: 0.5em;
    line-height: 35px;
    vertical-align: middle;
}

#parcel-form form input {
    width: 200px;
    height: 25px;
    margin-left: 140px;
}

#parcel-form form span {
    line-height: 35px;
    vertical-align: middle;
    margin-left: 140px;
}

#parcel-form form button {
    margin-left: 140px;
}